* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 20px;
  overflow: auto;
}

body {
  color: #fff;
  min-height: 100vh;
  padding-right: 10px;
  background: linear-gradient(to top, #455674, #222c45);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fcfafc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  overflow: auto;
  border: 2px solid #fcfafc;
  border-radius: 20px;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 15px 20px;
}

.logo img {
  display: block;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 35px;
}

.nav-links a {
  text-align: center;
  color: rgb(247, 244, 244);
  font-style: italic;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  transition:
    opacity 0.3s ease,
    color 0.3s ease;
}

.nav-links a:hover {
  background-color: #fbfafcf1;
  color: rgb(25, 12, 56);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.8;
}

.nav-auth {
  gap: 15px;
}

.RLButton {
  color: rgb(247, 244, 244);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px solid #fcfafc;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.RLButton:hover {
  background-color: #fbfafcf1;
  color: rgb(25, 12, 56);
}

main {
  padding: 20px;
}

.main-left {
  float: left;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.main-left h1 {
  font-size: 3em;
  color: #fff;
}

.main-left h2 {
  font-size: 2em;
  color: #fff;
}

.main-left p {
  font-size: 1.2em;
  color: #fff;
}
